/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

/* general style*/
html {
    max-width: 100%;
    max-height: 100%;
}

main {
    max-width: 100%;
    max-height: 100%;
}

body {
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    /* overflow: hidden; */
}

a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
}

a:hover {
    color: red;
    transition: .5s ease color;
    transform:scale(1.05)
}

a:visited {
    color: #999;
}

a:focus {
    color: green;
}

a:active {
    color: red;
}


p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.65em;
    color: #333333;
}

li {
    list-style-type: none;
}

ol {
    padding: 0;
}

h2 {
    color: black;
    margin: 1em;
    font-size: 1em;
}

h3 {
    padding-bottom: .5em;
    font-weight: 700;
    border-bottom: 1px solid #e3e3e3;
    font-size: .61111em;
    text-transform: uppercase;
    color: #999;
}

h4 {
    color: #999;
    font-size: .6em;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: .8em;
    margin-bottom: 1.6em;
    border-bottom: 1px solid #e3e3e3;
}

img {
    max-width: 100%;
}

iframe {
    width: 80%;
    height: 400px;
    display: flex;

}

/* Media queries - max */
@media (max-width: 600px){
    .overzicht {
        display: none;
    }
}

@media (max-width: 760px) {
    .laatste {
        display: none;
    }
}

@media (min-width: 600px) {
    
/* Artikelen pagina  */

    div:nth-of-type(3) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2.22em 1.78em;
        padding: 30px 20px;
    }

    div section ul a {
        margin: 0;
        padding: 0;
    }

    div section ul a {
        flex-direction: column;
        border-bottom: none;
    }

    div section ul a li:first-of-type {
        order: 1;
    }

    div section ul a li:first-of-type h2 {
        margin: 0 0 .5em;
        padding: 0;
        font-size: 1em;
        font-weight: 700;
        line-height: 1.3;
        transition: color .25s ease-in-out;
    }

    div section ul a li:nth-of-type(2) img {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    div section ul a li:nth-of-type(3) {
        order: 2;
        margin: 0;
        font-size: .89em;
        line-height: 1.5;
        color: #333;
    }

    div section ul a li:nth-of-type(3) {
        padding: 0;
    }

    /* Tip van de redactie  */
    .tip {
        font-size: .94444rem;
        padding: 18px 8px;
    }

    section.redactie ul a {
        flex-direction: column;
        border-bottom: none;
    }

}

@media (min-width: 760px) {
    /* 1ste twee artikelen */
    .top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        max-width: 100%;
    }

    .top div:nth-of-type(1) img {
        height: 99%;
    }

    .top div:nth-of-type(2) img {
        height: 100%;
    }

    /* Artikelen */
    div section ul a li:nth-of-type(2) {
        width: 100%;
    }

    /* Andere */
    .andere ul  {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }

    .andere ul h1 {
        color: #333333;
    }
}

@media (min-width: 849px) {
    .top div:nth-of-type(1) img {
        height: 99%;
    }

    .top div:nth-of-type(2) img {
        height: 0%;
    }
    }

/* Header */
header {
    background-color: #F2F2F2;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;

}

nav {
    display: flex;
    padding: 1em 1em;
    margin: 0;
    height: 66px;
    justify-content: space-around;
    align-items: center;
    position: relative;

}

nav ul:first-of-type{
    display: flex;
    align-items: center;
    margin: 0em 1em;
    width: 10em;
}

nav ul:nth-of-type(1) li:nth-of-type(2) {
    width: 50%;
}

nav ul:nth-of-type(2) {
    position: absolute;
    top: 66px;
    background-color: #F2F2F2; 
    height: fit-content;
    width: 100vw;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    transform: translateX(-100%);
}

nav ul:nth-of-type(2).toonMenu {
    transform: translateX(0);
}

nav ul:nth-of-type(2) li {
    padding: 1em 2em;
    color: black;
    border-top: 1px solid #e3e3e3;
    width: 100%;
}

nav ul:nth-of-type(2) li a {
    color: black;
    font-weight: normal;
    letter-spacing: .5px;
    font-size: 1.2em;
}

nav ul:nth-of-type(3) li:first-of-type {
    display: none;

}

nav ul:nth-of-type(3) {
    display: flex;
    align-items: center;
    justify-content: flex-start;


}

nav ul li {
    width: 16px;
}


nav ul:first-of-type li:last-of-type {
    margin: auto auto auto 1.5em;
}

nav ul:last-of-type li {
    justify-content: flex-start;
    margin-left: 2em;
}


button:first-of-type {
    border-style: none;
}

@media (min-width: 900px) {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul:first-of-type li:first-of-type {
        display: none;
    }

    nav ul:nth-of-type(1) {
        
    }

    nav ul:nth-of-type(2) {
        position: relative;
        flex-wrap:nowrap;
        width: 40%;
        transform: translateX(0%);
        justify-content: flex-start;
        align-items: center;
        top: 0px;
        flex-direction: row;
        background-color: none;
        height: auto;
    }

    nav ul:nth-of-type(2) li {
        font-size: .7em;
        border-left: 1px solid #e3e3e3;
        border-top: none;

    }

    nav ul:nth-of-type(3) {
        
    }
}



/* --------------------------------- */
/*  MAIN */

/* 1ste twee artikelen in de pagina */
.top img {
    width: 100%;
}

/* .top img:hover {
    transform: scale(1.2);
    max-width: 100%
} */

.top article {
    position: relative;
}

.top h2 {
    color: white;
    position: absolute;
    bottom: 20px;
    padding: 0;
    margin: .5em 1em;
}


@media (max-width: 600px) {
    .artikelen p {
        display: none;
    }
}

@media (min-width: 600px) {
    .top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: .8em;
    }
}




/* Artikelen in de pagina  */
.artikelen {
    margin-left: 1em;
    margin-right: 1em;
}

.artikelen h2 {
    padding-left: .88em;
    left: 0;
}

.artikelen a {
    display: flex;
    flex-direction: row-reverse;
    margin: .83em 0;
    font-size: .5em;
    align-items: center;
    justify-content: left;
}

.artikelen img {
    width: 111.594px;
    height: 62.766px;
}

@media (min-width: 600px) {
    .artikelen {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        margin-top: .5em;
    }

    .artikelen a {
        display: flex;
        flex-direction: column;
    }

    .artikelen img {
        width: 100%;
        height: 100%;
        order: -1;
    }
    
    .artikelen h2 {
        padding: 0;
        margin: 1em 0;
        font-size: 2em;
    }

    .artikelen p {
        font-size: 1.7em;
    }
}

/* Laatste */
.laatste {
    margin: 2em 1em 0;
}

.laatste a {
    color: black;
    margin: 1em 0;
}

.laatste li {
    display: flex;
    justify-content: space-between;
}

.laatste h2 {
    border-bottom: solid red 2px;
    display: inline-block;
    padding-bottom: .5em;
    margin: 0;
}

.laatste img {
    width: 60px;
    height: 33.75px;
}

@media (min-width: 900px) {
    .laatste {
        margin: .8em 1em 0 0;
    }
}

/* "Live kanalen" en "Je hoeft niets te missen" */
.kanalen {
    margin: 2em 1.25em;
}

.kanalen a {
    margin: 1.65em 0;
    display: grid;
    border: solid 1px #c4c4c4;
    border-radius: 10px;
    padding: 16px;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
}

.kanalen a img:first-of-type {
    width: 48px;
    height: 36px;
}

.kanalen a img:last-of-type {
    width: 20px;
    right: auto;
    justify-self: flex-end;
}

.kanalen ul h3 {
    color: black;
    font-size: .88em;
    border-bottom: none;
}

.kanalen ul p {
     color: #c6c6c6;
     text-transform: uppercase;
     font-size: .8em;
}

/* Meest bekeken video's */
.video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    margin: 0;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* Bron: https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */
}

@media (min-width: 760px) {
    .video iframe {
        padding: 0 1em;
    }
}

/* Tip van de redactie */
.tip {
    padding: .4444em 1rem .55556rem;
    font-size: .94444rem;
    margin: 5em .83em 1em ;
}

.redactie {
    margin: 0 1.25em 10em;
    font-size: .5em;
}

.redactie img {
    width: 80px;
}

.redactie a {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 5fr 1fr;
    padding: 2em 0;
    border-bottom: solid 1px #c4c4c4;
}

@media (max-width: 600px) {
    .redactie p {
        display: none;
    }
}

@media (min-width: 600px) {
    .redactie ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        margin: 0 .5em;
    }

    .redactie a {
        display: flex;
        align-items: center;
    }

    .redactie h2 {
        font-size: 2em;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    .redactie p {
        font-size: 1.7em;
    }

    .redactie img {
        width: 100%;
        height: 100%;
        order: -1;
    }
}

/* Nieuws in beeld */

/* 'Nieuwsuur', 'NOS op 3' en 'NOS Stories' */
.overige {
    margin: .5em;
}

.overige img {
    position: relative;
}

.overige h1 {
    position: absolute;
    z-index: 2;
    color: red;
    left: 30px;
    margin-top: 30px;
} 

@media (min-width: 450px) {
    .overige {
        margin-top: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }

    .overige h1 {
        display: none;
    }

    .overige li {
        font-size: 1em;
        display: flex;
    }
}

@media (max-width: 760px) {
    .overige p {
        display: none;
    }
}

/* Categorieën */
.overzicht a {
    color: #333;
    font-size: .77778em;
    line-height: 1.16667em;
    padding: 0;
    margin: 0;
    flex-direction: row;
    border-bottom: none;
}

.overzicht div ul li {
    padding-right: 5%;
    margin: 0 0 1em 1em;
    display: block;
}

@media (min-width: 600px) {
    .overzicht {
        display: none;
        display: grid;
        grid-template-columns: 50% 40%;
        grid-gap: 1em;
    }

    .overzicht div:first-of-type ul {
        grid-column-start: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .overzicht div:nth-of-type(2) {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}

/* Categorie nieuws */

/* Categorie sport */

/* Main */
@media (min-width: 900px) {
    .home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 1em 1em;
        width: 100%;
        max-width: 100%;
    }

    .top {
        grid-column: 1/4; 
        font-size: 1.75em;
    }

    .laatste {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .artikelen {
        grid-column: 1/3;
    }

    .kanalen {
        grid-column: 3/4;
        grid-row: 2/3;
        margin-top: 2300px;
        margin-right: .5em;
        padding: 0 .5em 0 0 ;
    }

    .video {
        grid-column: 1/4;
    }

    .redactie {
        grid-column: 1/4;
        margin-right: 0;
    }

    .overige {
        grid-column: 1/4;
    }
    
    .overzicht {
        grid-column: 1/4;
    }
}

@media (min-width: 900px) {
    .home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 1em 1em 1em;
        width: 100%;
        max-width: 100%;
    }

    .top {
        grid-column: 1/5;
    }

    .laatste {
        grid-column: 4/5;
        grid-row: 2/3;
    }

    .artikelen {
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .kanalen {
        grid-column: 4/5;
        grid-row: 2/3;
        margin: 1200px 0 0;
    }

    .video {
        grid-column: 1/5;
    }

    .redactie {
        grid-column: 1/5;
        margin-right: 0;
        
    }

    .redactie ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .overige {
        grid-column: 1/5;
    }
    
    .overzicht {
        grid-column: 1/5;
    }
}

/* PAGINA OV */
.ov .tekst {
    margin: 1em;
}

.ov .tekst p {
    margin: 1em 0;
    color: #333;
}

.ov .tekst h3 {
    padding: .5em 0 0 0;
    font-size: 1em;
    font-weight: 700;
    border: none;
    color: black;
    text-transform: none;
}

.heading {
    display: flex;
    flex-direction: column-reverse;
}

.heading h1 {
    margin: 1em 1em 0;
}

.heading p {
    margin: 0 1.5em 1em;
    color: #999;
}

@media (min-width: 500px) {
    .tekst {
        max-width: 35em;
    }
}


@media (min-width: 760px) {
    .heading {
        display: flex;
        flex-direction: column;
    }

    .heading h1 {
        margin-bottom: 1em;
    }

    .tekst {
        margin: 3em;
        max-width: 100%;
    }
}

@media (min-width: 900px) {
    .incidenten {
        display: grid;
        grid-template-columns: 20% 50% 30%;
    }

    .heading {
        grid-column: 2/3;
    }

    .ov img {
        grid-column: 2/3;
    }

    .tekst {
        grid-column: 2/3;
    }

    .video {
        grid-column: 1/4;
    }
}

/* @media (min-width: 1000px) {
    .incidenten {
        display: grid;
        grid-template-columns: 10% 10% 50% 10% 10% 10%;
    }

    .heading {
        grid-column: 2/5;
    }

    .ov img {
        grid-column: 3/4;
    }

    .tekst {
        grid-column: 2/5;
    } */
}


/* Footer */
footer {
    background-color: #F2F2F2;
    bottom: 0;
    margin: 1em 0 0 0;
}

footer a {
    color: #333333;
    display: block;
    margin: 1em 1em;
    text-decoration: none;
    font-size: 14px;
}

footer div a {
    color: #999999;
}

footer div a:first-of-type {
    border-top: solid;
    border-width: 1px;
    padding: 1em 0em
}

footer img:first-of-type {
    width: 80px;
    margin: 1em 1em
}











